{% extends "base.html" %}

{% block content %}
    </br></br>
    <div class="row justify-content-center" style="text-align: center; margin: 30px 0px 40px 0px;">
        <h2>Make your account and SHOW YOUR LOGIC!!!</h2>
    </div>
    <form class="row justify-content-center" name="account" action="/join/" method="POST">
    {% csrf_token %}
    <div class="col-4">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">&nbsp&nbsp&nbsp ID &nbsp&nbsp&nbsp&nbsp</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-md" required>
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">Password</span>
            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-md" required>
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">&nbsp E-mail &nbsp</span>
            <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-md" required>
        </div>
        
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Introduce </br> yourself</span>
            <textarea class="form-control" style="height:300px; overflow-y: scroll;"></textarea>
        </div>

        <p class="row justify-content-center">
            <button type="submit" class="btn btn-secondary col-2">GO!</button>
        </p>
    </div>
    </form>
    
</body>
</html>
{% endblock %}
