{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div class="row justify-content-center">
    <h1 style="text-align: center; margin-bottom: 20px;">{{room.room_title}}</h1>

    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{room.room_content}}
                </p>
                <hr width ="100%" size = "3">
            </div>
                
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-interval="false">
                    <div class="carousel-indicators" id="slideicon">
                        <!-- <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
                    </div>
                    
                    <div class="carousel-inner" id="slideinner">
                        {% if room.room_image1 != '' %}
                        <div class="carousel-item active">
                            <img src="{{room.room_image1.url}}" class="d-block w-30" alt="..." style="margin:auto">
                        </div>
                        {% endif %}
                        {% if room.room_image2 != '' %}
                        <div class="carousel-item">
                            <img src="{{room.room_image2.url}}" class="d-block w-30" alt="...">
                        </div>
                        {% endif %}
                        {% if room.room_image3 != '' %}
                        <div class="carousel-item">
                            <img src="{{room.room_image3.url}}" class="d-block w-30" alt="...">
                        </div>
                        {% endif %}
                    </div>

                    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button> -->
              </div>
        </div>
    </div>
    <br>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/room_list/" class="btn btn-primary ">목록</a>
    </div>
</div>

<!--리뷰-->
<div class="row justify-content-center">
    <div style="height: 50px;"></div>
    <hr width ="100%" size = "3">
    <h3 class="col-8" style="text-align: left; margin-bottom: 20px;"> Review </h3>

    <div class="col-8">
        <button type="button" class="btn btn-light" style="margin:left;" data-bs-toggle="collapse" 
                data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <img width="20px" height="20px" src="{% static 'chatapp/imgs/review_icon.png' %}">
        </button>
    </div>

    <!--input review / collapse-->
    <div class="col-8">
        <div class="collapse" id="collapseWidthExample">
        <form action="/make_review/{{room.id}}/" method="POST">
            {% csrf_token %}
            <textarea class="form-control" placeholder="Write here your Review" name="review_content" height="100%" style="float: left;" required></textarea>
            <button type="submit" style="float: right; color:black; margin: 3px 0 10px 0 ;" class="btn btn-outline-primary btn-sm">Post review</button>
        </form>
        </div>
    </div>

    <!--댓글/대댓글-->
    <div class="col-8">
        {% if review %}
            <!--댓글-->
            {% for n in review %}
                <div class="card" style="border-color: rgb(184, 222, 240); margin-top: 15px; padding: 20px; padding-bottom: 0;">
                    <div style="width:100%; float:left">
                        <p class="card-text">{{n.review_content}}
                            {% if n.review_creater == user %}
                            <a href="/delete_review/{{room.id}}/{{n.id}}" class="btn btn-sm" 
                                    style="color:red; float: right;">X</a>
                            {% endif %}
                        </p>
                        <p class="card-text text-end" style="font-size:10px;">작성자:{{n.review_creater}}
                        <br> {{n.review_date}}</p>
                    </div>
                    <br>

                    <div>
                        <span type="button" style="margin:left; color:blue; font-size: 10px;" data-bs-toggle="collapse"
                            data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
                            답글
                        </span>
                        <div class="collapse" id="collapseWidthExample2">
                            <form action="/make_re_review/{{room.id}}/{{n.id}}/" method="POST">
                                {% csrf_token %}
                                <input class="form-control" placeholder="Write here your Review" name="rereview_content" style="float: left; width: 90%;" required>
                                <button type="submit" style="float: right; color:black; margin: 3px 0 10px 0; width: 10%;" class="btn btn-outline-primary btn-sm">Post review</button>
                            </form>
                        </div>
                    </div>
                    <br>
                </div>

                <!--대댓글-->
                {% for v in rereview %}
                    {% for m in v %}
                    {% if m.review_id == n.id %}
                    <div class="row" style="width:100%; margin-top: 3px;">
                        <div class="col-1" style="float:left; text-align: right;">└ &nbsp;</div>
                        <div class="col-11" style="float:left; background: rgb(241, 247, 250);">
                            <p class="card-text text-start" style="font-size:15px; width: 70%; float: left; word-break:break-all;">
                                {{m.review_content}}
                            </p>
                            <p class="card-text text-end" style="font-size:10px; width: 25%; float: left;">작성자:{{n.review_creater}} <br> {{n.review_date}}</p>
                            <!--대댓글 삭제-->
                            {% if m.review_creater == user %}
                            <a href="/delete_re_review/{{room.id}}/{{n.id}}/{{m.id}}/" class="btn btn-sm"  
                                    style="color:red; font-size:10px; width: 5%; float: right;"> X </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}        
        {% else %}
        <hr width ="100%" size = "3">
        <div height="150px">
            <p style="text-align: center;">Have no review</p>
        </div>
        {% endif %}
        <br> 
    </div>
    <hr width ="100%" size = "3">
    <!--댓글/대댓글 끝-->

</div>

{% if room.room_creater == user %}
<div class="row justify-content-center">
    <a href="/modify_room/{{room.id}}/" style="color:white; margin: 3px 0 10px 0;" class="btn btn-primary col-6">Modify</a>
</div>
<div class="row justify-content-center">
    <a href="/delete_room/{{room.id}}/" style="color:white; margin: 3px 0 10px 0;" class="btn btn-danger col-6">Delete</a>
</div>

{% endif %}
</body>
</html>

<script>
    var img_count = "{{img_count}}";
    
    $(document).ready(function() {
        if(img_count > 1) {
            $('#slideicon').append('<button type="button" data-bs-target="#carouselExampleDark" '+
                        'data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>'+
                        '<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>')
            $('#slideinner').append('<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">' +
                    '<span class="carousel-control-prev-icon" aria-hidden="true"></span>'+
                    '<span class="visually-hidden">Previous</span></button>'+
                    '<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">'+
                    '<span class="carousel-control-next-icon" aria-hidden="true"></span>'+
                    '<span class="visually-hidden">Next</span></button>')
            
            if(img_count > 2) {
                $('#slideicon').append('<button type="button" data-bs-target="#carouselExampleDark" '+
                                    'data-bs-slide-to="2" aria-label="Slide 3"></button>')
            }
        }
    })
</script>

{% endblock %}