{% extends "base.html" %}

{% block content %}
{% load static %}
    </br></br>
    <div class="row justify-content-center" style="text-align: center; margin: 30px 0px 40px 0px;">
        <h2>Make Room or Join</h2>
    </div>

    <div class="row justify-content-center">
        <a href="/make_room/" class="card text-bg-dark align-items-center col-5" id="imgdiv1" style="margin:10px;">
            <img src="{% static 'chatapp/imgs/makeroom.png' %}" class="card-img" id="img1" style="width:100%; height:100%;">
            <div class="card-img-overlay" id="imgcontent1">
                <h5 class="card-title">Make Room</h5>
                <p class="card-text"><small>Do you have interesting story?</small></p>
                <h6 class="card-text">You can share story.</h6>
            </div>
        </a>

        <a href="/room_list/" class="card text-bg-dark align-items-center col-5" id="imgdiv2" style="margin:10px;">
            <img src="{% static 'chatapp/imgs/joinroom.png' %}" class="card-img" id="img2" style="width:100%; height:100%;">
            <div class="card-img-overlay" id="imgcontent2">
                <h5 class="card-title">Join Room</h5>
                <p class="card-text">Are you ready?</p>
                <p class="card-text"><small>Let's go!</small></p>
            </div>
        </a>
    </div>
</body>
    
<script>
    $(document).ready(function(){
        result = {result}
        alert(result)
    })

    $('#imgdiv1').mouseover(function(){
        $('#img1').css('opacity',0.1);
    })

    $('#imgdiv1').mouseleave(function(){
        $('#img1').css('opacity',1);
    })

    $('#imgdiv2').mouseover(function(){
        $('#img2').css('opacity',0.1);
    })

    $('#imgdiv2').mouseleave(function(){
        $('#img2').css('opacity',1);
    })


</script>
</html>
{% endblock %}
