{% extends "base.html" %}

{% block content %}
{% load static %}
    <h1>Login 화면</h1>
    <div class="row justify-content-center">
        <div class="card text-bg-dark align-items-center col-5" style="display: inline-block;">
            <img src="{% static 'chatapp/imgs/newyork.png' %}" class="card-img" alt="..." style="height: 300px;">
            <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card text-bg-dark align-items-center col-5" style="display: inline-block;">
            <img src="{% static 'chatapp/imgs/doctor.png' %}" class="card-img" alt="..." style="height: 300px;">
            <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

{% endblock %}