{% extends "base.html" %}

{% block content %}
</br></br>
<div class="row justify-content-center" style="text-align: center; margin: 30px 0px 50px 0px;">
    <h2 class="col-5">Show your logic!!</h2>
</div>
</br></br>
<form class="row justify-content-center">
<div class="col-5">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-md">Name</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-md">
    </div>
    
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Introduce yourself</span>
        <textarea class="form-control"></textarea>
    </div>

    <p class="row justify-content-center">
        <button type="submit" class="btn btn-secondary col-2">GO!</button>
    </p>
</div>
</form>

{% endblock %}