{% extends "base.html" %}

{% block content %}
</br></br>
<div class="row justify-content-center" style="text-align: center; margin: 30px 0px 40px 0px;">
    <h2 class="col-5">Make interesting Room!!</h2>
</div>
<div class="row justify-content-center">
<form action="/make_room/" method="POST" class="col-6">
    {% csrf_token %}
    <label for="exampleDataList1">Room Title</label>
    <input type="text" name="room_title" class="form-control" list="datalistOptions" id="exampleDataList1" placeholder="Input room's title!" required >
    </br>

    <label for="exampleDataList2">Room Content</label>
    <input type="text" name="room_content" class="form-control" list="datalistOptions" id="exampleDataList2" placeholder="What discusstion do you want?" required >
    </br>

    <label for="exampleDataList3">Use Image</label>
    <input type="file" name="room_image" multiple>
    </br>
    <p class="row justify-content-center">
        <input class="btn btn-primary col-2" type="submit" style="float:left; margin:5px" value="방만들기">
        <a href="/join/" class="btn btn-secondary col-2" style="float:left; margin:5px">뒤로가기 </a>
    </p>
</form>
</div>

</body>
</html>

{% endblock %}