{% extends "base.html" %}

{% block content %}
{% load static %}
    <div class="row justify-content-center">
        <div class="col-8" style="text-align: center;">
            <a href="/make_room/" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-primary" style="border-radius: 50%;">+</button>
            </a>
            </br>
            <span style="font-size: 10px;">Make room!</span>
        </div>
    </div>

    </br>
        <div class="col-3" id="ex_box" style="float:left; text-align:center; margin:10px 0px 0px 30px; position: relative;">
            <div class="row justify-content-center" style="border: 1px solid #b3b5b8; color:blue; font-weight: bold;"> 조회수 TOP5  
                <p></p>
                <div class="list-group col-11">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                      The current link item
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                    <a class="list-group-item list-group-item-action">A disabled link item</a>
                  </div>
            </div>
            </br>
            <div class="row justify-content-center" style="border: 1px solid #b3b5b8; color:blue; font-weight: bold;"> 좋아요 TOP5 
                <p></p>
                <div class="list-group col-11">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                      The current link item
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                    <a class="list-group-item list-group-item-action">A disabled link item</a>
                </div>
            </div>
        </div>

    <div class="row justify-content-center" id="mainbox">
    {% if objects %}
        <div class="col-11">
        {% for item in objects %}
        <a class="card" href="/detail_room/{{item.id}}" target="_self" 
                style="text-decoration: none; color:black; margin: 10px 10px 0px 0px; padding: 15px;">
            <div class="card-body">
            <h4 class="card-title">{{item.room_title}}</h5>
            <br>
            <p class="card-text">{{item.room_creater}}</p>
            <p class="card-text">{{item.room_date}}</p>
            </div>
        </a>
        {% endfor %}
        </div>
    {% else %}
        <div class="row justify-content-center">
            <p class="col-4" style="text-align: center;">채팅방이 없습니다.</p>
        </div>
    {% endif %}
    </div>

</body>
</html>

<script>

$(document).ready(function(){
  var currentPosition = parseInt($("#ex_box").css("top"));
  $(window).scroll(function() {
    var position = $(window).scrollTop(); 
    $("#ex_box").stop().animate({"top":position+currentPosition+"px"},500);
  });
});

</script>

{% endblock %}