{% extends "base.html" %}

{% block content %}
    </br>
    {% if objects %}
    <div class="row justify-content-center">
        <div class="col-10">
        {% for item in objects %}
        <a class="card" href="/detail_room/{{item.id}}/" style="width:21em; text-decoration: none; color:black; margin: 3px; float: left;">
            <div class="card-body">
            <h5 class="card-title">{{item.room_title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">주제 : {{item.room_content}}</h6>
            </br>
            <p class="card-text" style="margin:0">방장 : {{item.room_creater}}</p>
            <p class="card-text">{{item.room_date}}</p>
            </div>
        </a>
        {% endfor %}
        </div>
    {% else %}
        <div class="row justify-content-center">
            <p class="col-4">채팅방이 없습니다.</p>
        </div>
    {% endif %}
    </div>
</body>
</html>

{% endblock %}